@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #fdf8f8;
  color: #333;
  font-family: "YuGothic", "YuGothic", "sans-self";
}
img {
  max-width: 100%;
}

li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

header{
    max-width:1400px ;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi{
display: flex;
justify-content: space-between;
gap:30px ;
cursor: pointer;
font-size: 18px;
font-family: 'EB Garamond';
font-weight: normal;
}


.view{
    max-width: 1400px;
    width: 100%;
    height: auto;
  object-fit: cover;
  position: relative;
}


.view-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     max-width: 1000px;
     height: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgb(255, 255, 255 ,0.7);

   
}

.view-text h2{
font-size:50px ;
font-family: 'EB Garamond';
font-weight: bold;

}
.view-text p{
    font-size: 20px;
    font-family: 'Zen Old Mincho';
    padding: 20px 20px;
    text-align: center;
}


@media screen and( max-width: 767px) {
}