@charset "UTF-8";

:root {
  --max-site-width: 1400px;
  --container-padding: 16px;
  --base-font-size: 16px;
  --line-ratio: 1.6;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  color: #333;
  font-family: "YuGothic", "YuGothic", "sans-self";
  margin: 0;
  line-height: 1.6;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  color: red;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* ヘッダー部分 */
header {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navi {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Caveat";
  font-weight: normal;
}

.view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: auto;
  padding: 0px 15px;
  margin: 0 auto;
  margin: 45px 0px;
  object-fit: cover;
  position: relative;
}

.view-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.view-text h2 {
  font-size: 50px;
  font-family: "Caveat";
  font-weight: bold;
  white-space: nowrap;
}
.view-text p {
  font-size: 20px;
  font-family: "Zen Old Mincho";
  padding: 20px 20px;
  text-align: center;
  white-space: nowrap;
}

.view-img {
  position: relative;
}

/* ハンバーガーメニュー */

@media screen and (max-width: 767px) {
  header {
    display: none;
  }

  .view {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .view-text h2 {
    white-space: nowrap;
    font-size: 70px;
  }
  .view-text p {
    font-size: 18px;
    white-space: nowrap;
  }
}
/* プロフィール欄 */
.profile {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
.profile h2 {
  font-size: 45px;
  font-family: "Caveat";
  padding: 1rem 2rem;
  border-left: 6px double #000;
}
.profile-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 66px 30px;
}
/* Intersection observer */
.profile-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  opacity: 0;
  transition: opacity 1s ease;
}
.profile-area.anim {
  opacity: 1;
}

.profile-area img {
  width: 700px;
  height: 350px;
  border-radius: 100%;
  object-fit: contain;

  /* margin: 134px 60px; */
}
.profile-txt {
  font-size: 16px;
  width: 700px;
  height: auto;
  padding: 30px 22px;
  line-height: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile {
    width: 100%;
    margin: 0 auto;
  }
  .profile-area {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .profile-txt {
    width: 100%;
    font-size: 15px;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 24px;
    font-weight: 450;
  }
  .profile-txt h3 {
    font-size: 15px;
  }
}

/* 経歴 */

/* career セクション上部 */
/* スクロールイベントInter section observer使用 */
.career .history__item {
  opacity: 0;
  transform: translateX(60px);
  transition: transform 700ms ease, opacity 700ms ease;
  will-change: transform, opacity;
}

.career .history__item.anim {
  opacity: 1;
  transform: translateX(0);
}
/* 終了 */
.career-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 66px 30px;
}
.career-top h2 {
  font-size: 45px;
  font-family: "Caveat";
  padding: 1rem 2rem;
  border-left: 6px double #000;
}
.career .career-top {
  text-align: center;
}

.career .career-top .title {
  font-size: 28px;
  margin: 0;
}

.career .career-top .text {
  /* margin: 8px 0 0; */
  color: #666;
}

/* timeline */
.history {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 320px) and (min-width: 768px) {
  .history {
    width: 1400px;
  }
}

/* 中央の縦線 */
.history:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgb(25, 25, 24);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* 各アイテム */
.history__item {
  max-width: 1000px;
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 0 40px;
  align-items: flex-start;
  z-index: 2;
}

@media (min-width: 320px) and (min-width: 768px) {
  .history__item {
    padding: 0 0 48px;
  }
}

/* 点マーク */
.history__item:before {
  content: "";
  width: 10px;
  height: 10px;
  background: rgb(246, 255, 0);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  z-index: 3;
}

/* 偶数項目は右側へ */
@media (min-width: 320px) and (min-width: 768px) {
  .history__item:nth-of-type(even) {
    justify-content: flex-end;
  }

  .history__item:nth-of-type(even) .history__inner {
    flex-direction: row-reverse;
    text-align: left;
  }

  .history__item:nth-of-type(odd) {
    justify-content: flex-start;
  }
}

/* 最後の項目の終端装飾 */
.history__item:last-child {
  padding-bottom: 15px;
}
.history__text:last-child {
  margin-left: 75px;
}
.history__text:first-child {
  margin-right: 75px;
}

.history__text:second-child {
  margin-left: 75px;
}

.history__text:third-child {
  margin-right: 75px;
}

@media (min-width: 320px) and (min-width: 768px) {
  .history__item:last-child {
    padding-bottom: 0;
  }
}

.history__item:last-child:after {
  content: "";
  width: 8px;
  height: 8px;
  background: none;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  border-left: 1px solid rgb(12, 12, 11);
  border-bottom: 1px solid orange;
  bottom: 0;
  left: 50%;
}

/* 内部 */
.history__inner {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  max-width: 740px;
}

.history__iamge img {
  display: block;
  width: 220px;
  height: auto;
  box-shadow: 0 0 15px rgba(30, 29, 29, 0.25);
  border-radius: 4px;
}

.history__text {
  border: 1px;
  flex: 1;
  padding-top: 4px;
  letter-spacing: 0.02em;
  line-height: 100px;
}

.history__text h3 {
  margin: 0 0 8px;
  font-size: 35px;
}

.history__text p {
  margin: 0 0 12px;
  line-height: 1.6;
}

.history__text .highlight {
  color: rgb(233, 85, 68);
  font-weight: 600;
}

/* スマホ：縦並び */
@media (min-width: 320px) and (max-width: 767px) {
  .history:before {
    left: 20px;
    transform: none;
  }
  .history {
    margin: 0 auto;
  }
  .history__item {
    padding-right: 100px;
  }

  .history__item:before {
    left: 20px;
    transform: none;
  }

  .history__inner {
    flex-direction: column;
    max-width: 100%;
  }

  .history__iamge img {
    width: 100%;
    max-width: 360px;
    margin-bottom: 10px;
  }

  .history__item:before {
    content: "";
    width: 10px;
    height: 10px;
    background: rgb(24, 24, 24);
    position: absolute;
    border-radius: 50%;
    left: 0%;
    top: 8px;
    z-index: 3;
  }
  .career {
    max-width: 1000px;
    margin: 0 auto;
  }
  .history__text {
    /* white-space: nowrap; */
    max-width: 800px;
    font-size: 15px;
  }
}

/* スキル欄 */

.Myskill {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: white;
  opacity: 0;
  transition: opacity 1s ease;
}
.Myskill.anim {
  opacity: 1;
}

/* Intersection observer */

.skill-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 66px 30px;
}

.skill-top h2 {
  font-size: 45px;
  font-family: "Caveat";
  padding: 1rem 2rem;
  border-left: 6px double #000;
}
.text {
  font-size: 20px;
  font-weight: bolder;
  font-family: "EB Garamond";
}

.skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  margin: 0 auto;
  padding: 45px 45px;
  background-color: white;
  height: auto;
}

.skill-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 108px;
  padding: 45px 45px;
  background-color: white;
}

.skill-text {
  background-color: #ffffff;
  font-size: 16px;
  padding: 30px 66px;
  text-align: left;
  line-height: 27px;
}

.text-zone {
  margin-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Myskill {
    margin: 0 auto;
  }

  .skill-images img {
    width: 70px;
  }
  .skill-image img {
    width: 70px;
  }
  .skill-text {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 24px;
    font-size: 15px;
    font-weight: 450;
  }
}

/* カードセクション */

.Works {
  max-width: 1000px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 45px;
}

.works-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 66px 30px;
  font-size: 30px;
  font-family: "EB Garamond";
}

.works-top h2 {
  font-family: "Caveat";
  padding: 1rem 2rem;
  border-left: 6px double #000;
}
.works-top p {
  font-size: 20px;
}

.box-area {
  max-width: 1000px;
  display: grid;
  gap: 1rem; /* カード間の余白 */
  grid-template-columns: repeat(3, 1fr); /* PC: 3列・均等幅 */
  align-items: start;
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid black;
  opacity: 0;
  border-radius: 8px;
  transition: opacity 1s ease;
}
.box.anim {
  opacity: 1;
}

.box__image img {
  width: 100%;
  height: 234px;
  object-fit: cover;
}
.box__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 9px;
  position: relative;
}

.box__body h2 {
  position: relative;
  padding: 6px 0px;
  font-size: 20px;
}

.box__body h2::after {
  content: "";
  /* 絶対配置でh2の下に配置 */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* 下線の幅と高さを指定 */
  width: 70%;
  height: 5px;
  background-color: yellow;
  display: block;
}
.bird_image {
  position: absolute;
  top: 5px;
  left: 15%;
}

.box-text {
  margin: 26px 0px;
}
.box-tap {
  text-align: right;
}

.box-link {
  border-top: dotted;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  .works {
    margin: 0 auto;
  }
  .box {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .box__txt {
    padding-bottom: 30px;
  }
  .box.reverse {
    display: block;
    flex-direction: row-reverse;
  }
  .box + .box {
    margin-top: 60px;
  }
  .box__body {
    width: 100%;
    padding: 0;
  }
  .box__image {
    width: 100%;
  }
  .box-area {
    display: block;
    flex-direction: column;
  }
  .box-link {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
  }
}
/* なりたい将来像 */
.My-vision {
  max-width: 1000px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0px 15px;
  margin-bottom: 45px;
}

.vision-top h2 {
  font-size: 45px;
  font-family: "Caveat";
  padding: 1rem 2rem;
  border-left: 6px double #000;
}

.vision-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 30px;
  padding-bottom: 30px;
}

.vision-text {
  font-size: 20px;
  font-weight: bolder;
  font-family: "EB Garamond";
}

.vision-txt {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 15px;
  padding: 0px 15px;

  height: auto;
  font-size: 15px;
  margin: 0 auto;
}

/* Intersection Observer */
.vision-txt h2 {
  padding-top: 41px;
  opacity: 0;
  transition: opacity 1s ease;
}
.vision-txt h2.anim {
  opacity: 1;
}

.vision-txt p {
  padding-top: 41px;
  opacity: 0;
  transition: opacity 1s ease;
}
.vision-txt p.anim {
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 760px) {
  .vision-txt {
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
  }
  .My-vision {
    margin: 0 auto;
  }
}

/* footer部分 */
.footer-text {
  max-width: 1400px;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  margin-bottom: 45px;
}
footer h2 {
  text-align: center;
  font-size: 58px;
  font-family: "EB Garamond";
  padding-bottom: 20px;
}
footer p {
  text-align: center;
  font-size: 24px;
  font-family: "Zen Old Mincho";
  padding-bottom: 20px;
}
.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 0px;
}
#go-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 760px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .boxbody {
    text-align: center;
  }
  .link {
    text-align: center;
  }

  .footer-text {
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .footer h2 {
    font-size: 3px;
  }
  .image-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 25px 0px;
  }
}
